@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* box-sizing: border-box; */
}

input[type="range"]::-webkit-slider-runnable-track {
  background: rgb(37, 2, 50);
  border-radius: 30px;
}

.noScrollBar::-webkit-scrollbar {
  display: none;
}

.smoothTransistion:hover {


  background-color: rgba(0, 255, 255, 0.438);
}


.noScrollBar {
  -ms-overflow-style: none;

  scrollbar-width: none;

}

.modal::backdrop {
  background: rgba(0, 0, 0, 0.63);
}

.modal {


  /* color: blue; */
}

@media only screen and (max-width:620px) {
  .sidebar {
    background: violet;
    width: 10%;
  }

  .text-responsive {
    font-size: 50px;
  }
}